
            h1{
                color: blue;
            }
            img{
                width: 400px;
            }

          #thirDiv {
            width: 500px;
            height: 600px;
            background-color: blue;
            padding: 50px;
            border: 5px solid rebeccapurple;

        }

        #spanId{
            font-size: 50px;
            margin: 50px;

        }



